*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: only light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
